{% extends 'base.html' %}
{% block content %}
	{{ block.super }}
	<form action="{% url 'post_form' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p><label for="{{ form.json_file.id_for_label }}">{{ form.json_file.label }}</label></p>
	<span style="color: red">{{ form.json_file.errors }}</span>
	<p><input id="id_json_file" type="file" name="json_file"></p>
	<p><input type="submit" value="Отправить"></p>
</form>

<a href="{% url 'get_data' %}"><h4>перейти к просмотру всех записей</h4></a>
{% endblock content %}